PORT=8080
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=go_framework

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM=No reply <your-email@gmail.com>
SMTP_MAX_EMAILS_PER_HOUR=1000
SMTP_MAX_EMAILS_PER_DAY=10000

RESEND_API_KEY=
RESEND_FROM=no-reply@yourdomain.com
